@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.signup {
  /* background-image: linear-gradient(
      to bottom left,
      #42c2f5bf,
      rgba(255, 255, 255)
    ),
    url("../public//logo.png"); */
    background-color: white;
  width: 100%;
  height: 280px;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center right;
}

.input {
  @apply py-4 px-4 w-[20rem] sm:w-[25rem] md:w-[32rem] rounded-md text-[1rem] outline-none border focus:border-[#007BA0] border-black text-black focus:text-[#007BA0];
}

.label {
  @apply text-left text-black font-[600] text-[1rem] group-focus-within:text-[#007BA0];
}
.alternative {
  @apply text-black  w-[20rem] sm:w-[25rem] md:w-[32rem] before:content-[''] before:block before:h-[1.5px] mobile:before:w-[80px] tab:before:w-[190px] before:absolute before:top-1/2 before:left-4 before:bg-[#666666] after:right-4 after:h-[1.5px] after:absolute after:top-1/2 mobile:after:w-[80px] tab:after:w-[190px] after:block after:content-[''] after:bg-[#666666] relative
}
